html, body {
  height: 100%;
  margin: 0;
}

body {
  /*min-height: 100%;*/
  background-image: url(../images/felt.jpg);
  background-repeat: repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  padding: 0;
}

#content {
  height: 100% !important;
}

#content > div {
  /*background-color: #BBC !important;*/
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.OtherPlayersBox {
  flex: 3;

}
.OtherPlayersList {
  display: flex !important;
  flex-direction: row !important;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #ffbd26;
  background-image: url(../images/wood.jpg);

  color: white !important;
}
.OtherPlayerNode {
 flex: 1;
 text-align: center;
}
.activePlayerNode {
  /*box-shadow: inset 0 0 20px 0px #ffbd26;*/
  /*border: 2px solid #ffbd26;*/
  border: 0px;
  border-bottom: 5px solid #ffbd26;
  /*background-color: rgba(255, 189, 38, 0.1);*/
}

.smallCardImage {
  max-height: 60px;
}
.largeCardImage {
  max-height: 100px;
}


.TableBox {
  flex: 3;
  padding-top: 20px;
  text-align: center;
}
.TableBox > img {
  max-height: 150px;
}
.TableBox > h1 {
  color: #ffbd26;
}
.gameStateExplanation {
  display: inline-block;
  background-color: #ffffcc;
  border: 2px solid #ffbd26;
}
.gameStateExplanation > h3 {
  background-color: #ffbd26;
}
.gameStateExplanation > p {
  margin: 10px;
}

.CommandStripBox {
  background-image: url(../images/wood.jpg);
  background-repeat: repeat;
  flex: 1;
  flex-direction: row;

  max-height: 80px;

  text-align: center;

  border-top: 2px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #ffbd26;
}

.CommandStripBox > button {
  background-color: #97252B;
  border: 2px solid #F3CD00;
  color: white;
  padding: 15px 32px;
  margin: 15px 20px 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.CommandStripBox > h1 {
  line-height: 80px;
  color: #ffbd26;
}

.PlayerAndLog {
  flex: 3;
  display: flex!important;
  flex-direction: row!important;
}

.PlayerInfoBox {
  flex: 4;
  text-align: center;
  color: #ffbd26;
}

.GameLog {
  flex: 1;
  padding: 0px;
  /*background-image: url(../images/paper.jpg);*/
  background-color: #ffffcc;
  background-position: -85px;
  back
  border-top: 2px;
  border-bottom: 0px;
  border-left: 2px;
  border-right: 0px;
  border-style: solid;
  border-color: #ffbd26;
}
.GameLog > h1 {
  /*font-family: "Comic Sans", "Arial", sans-serif;*/
  color: #333 !important;
  font-size: 18px;
  background-color: #ffbd26;
  text-align: center;
}
.GameLog > .contents {
  padding: 10px;
  color: #333 !important;
  font-size: 12px;
}
.GameLog > p {
  color: #ffbd26;
}

.PlayerInfoBox > img {
  max-height: 150px;
}

.smallCardImage {
  padding: 2px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 !important;
  border: 0 !important;
}

h1 {
  border-top: 2px solid #ffbd26;
  font-size: 2.5em;
}

h1[type=title] {
  color: #97252B;
  text-shadow:
  -1px -1px 0 #F3CD00,
  1px -1px 0 #F3CD00,
  -1px 1px 0 #F3CD00,
  1px 1px 0 #F3CD00;
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #F3CD00;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
}

ul {
  padding-left: 30px;
}

input[type=submit] {
  background-color: #97252B;
  border: 2px solid #F3CD00;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
  background-color: #fff; /* Green */
  border: 2px solid #F3CD00;
  color: black;
  padding: 2px 32px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
}
