html, body {
  height: 100%;
  margin: 0;
}

body {
  /*min-height: 100%;*/
  background-image: url(../images/felt.jpg);
  background-repeat: repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  padding: 0;
}

#content {
  height: 100% !important;
}

#content > div {
  /*background-color: #BBC !important;*/
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}


.OtherPlayersBox {
  background-color: blue;
  flex: 3;
}
.OtherPlayersList {
  display: flex !important;
  flex-direction: row !important;
}
.OtherPlayerNode {
 flex: 1;
}
.smallCardImage {
  max-height: 60px;
}
.largeCardImage {
  max-height: 150px;
}
.TableBox {
  background-color: green;
  flex: 3;
}
.CommandStripBox {
  background-color: red;
  flex: 1;
}
.PlayerInfoBox {
  background-color: purple;
  flex: 3;
}





a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h1[type=title] {
  color: #97252B;
  text-shadow:
  -1px -1px 0 #F3CD00,
  1px -1px 0 #F3CD00,
  -1px 1px 0 #F3CD00,
  1px 1px 0 #F3CD00;
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #F3CD00;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

input[type=submit] {
  background-color: #97252B;
  border: 2px solid #F3CD00;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
  background-color: #fff; /* Green */
  border: 2px solid #F3CD00;
  color: black;
  padding: 2px 32px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 30px;
}
